<div class="homefooter w-full">
    <div class="w-full flex justify-center py-8 font-bold">
        <img style="height: 30px; width: 50px;" src="../../../assets/img/chevron-up.svg"/>
    </div>
    <div class="w-full flex justify-center">
        <img style="width:65px;height:65px;" src="../../../assets/favicon-img/android-chrome-192x192.png"/>
    </div>
    <h2 class="text-center text-2xl font-semibold text-white">{{title}}</h2>
    <div class="flex justify-center">
        <div class="row w-full sm-4/5 md-3/4 lg:w-2/3 xl:w-1/2">
            <div class="text-center col-12 col-sm-4 py-16">
                <h2 class="text-white mb-4 text-xl font-semibold">Features</h2>
                <p>Mountain</p>
                <p>Tent</p>
                <p>Picnic</p>
                <p>Compass</p>
                <p>Forest</p>
            </div>
            <div class="text-center col-12 col-sm-4 py-16">
                <h2 class="text-white mb-4 text-xl font-semibold">Downloads</h2>
                <p>Apple App Store (iOS)</p>
                <p>Google Play Store (Android)</p>
            </div>
            <div class="text-center col-12 col-sm-4 py-16">
                <h2 class="text-white mb-4 text-xl font-semibold">Company</h2>
                <p>About Us</p>
                <p>Jobs</p>
                <p>Sitemap</p>
            </div>
        </div>
    </div>
    <div class="flex justify-center">
        <div class="p-3">
            <img style="width: 30px; height: 30px;" src="../../../assets/img/facebook.61f23eb5.svg"/>
        </div>
        <div class="p-3">
            <img style="width: 30px; height: 30px;" src="../../../assets/img/twitter.ffb76ce5.svg"/>
        </div>
        <div class="p-3">
            <img style="width: 30px; height: 30px;" src="../../../assets/img/youtube.1831a653.svg"/>
        </div>
    </div>
</div>
