<div class="w-full flex justify-center my-20">
    <div class="w-2/3">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-xl-5">
                <h2 class="text-2xl font-bold">Contact with us</h2>
                <p class="mt-8">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <h2 class="text-lg font-bold mt-12">Head Office</h2>
                <p>
                    1600 Pennsylvania Avenue NW<br />
                    Washington DC 20500<br />
                    United States of America
                </p>
                <div class="mt-12 flex items-end">
                    <span>
                        <img style="width:20px;height: 20px; opacity: 0.5;" src="../../../assets/img/phone.a8f7f8cd.svg">
                    </span>
                    <p class="px-2">+1 01 2345 6789</p>
                </div>
                <div class="flex items-end">
                    <span>
                        <img style="width:20px;height: 20px; opacity: 0.5;" src="../../../assets/img/mail.d0f4ff4e.svg">
                    </span>
                    <p class="px-2" style="color:#8fc5b2">info@thawani.om</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-2 col-xl-3"></div>
            <div class="col-12 col-sm-12 col-md-5 col-xl-4">
                <input type="text" class="border-0 form-control my-8 py-4" placeholder="Your name">
                <input type="text" class="border-0 form-control my-8 py-4" placeholder="Your email">
                <textarea class="border-0 form-control my-8 pb-16" placeholder="Your Message"></textarea>
                <button type="button" class="py-2 px-4 float-right text-white rounded" style="background: #1e8a65;">Send Message</button>
            </div>
        </div>
    </div>
</div>

