<div class="w-full flex justify-center mt-24">
    <div>
        <h2 class="text-center font-bold text-2xl">Download Our App</h2>
        <p class="mt-2 text-sm px-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="flex justify-center">
            <div class="flex sm:w-1/2 w-full">
                <div *ngFor="let item of imagedata" class="{{ item.className }}">
                    <img src="{{ item.image }}" />
                </div>
            </div>
        </div>
    </div>
</div>