<div class="w-full">
    <div class="home-top w-full flex justify-center pb-4">
        <div class="md:w-3/5 sm:w-4/5 w-11/12">
            <app-home-header></app-home-header>
            <app-home-top-part></app-home-top-part>
        </div>
    </div>
    <div class="w-full">
        <img class="w-full" src="../../assets/favicon-img/background.png"/>
    </div>
    <div class="w-full flex justify-center pt-48">
        <div class="md:w-3/5 sm:w-4/5 w-11/12">
            <app-home-main></app-home-main>
        </div>
    </div>
    <app-home-download></app-home-download>
    <app-home-testimonial></app-home-testimonial>
    <app-home-contact></app-home-contact>
    <app-home-footer></app-home-footer>
</div>
